<div>
    <div style="max-width: 800px; margin: auto; padding: 0 20px 20px;">
        <h3 style="font-size:40px;"><i class="icon icon-tags" style="font-size:38px;margin-right:10px;"></i>Tag Manager</h3>
    </div>
    <div style="max-width: 800px; margin: auto; padding: 20px;">
        <p style="font-size: 16px; line-height: 1.5; color: #4c4c4c; margin-bottom: 20px;">Welcome to your Tag Manager dashboard where you are able to:</p>
        <ul>
            <li style="font-size: 16px; line-height: 1.5; color: #4c4c4c; margin-bottom: 20px;">rename tags to fix spelling errors, etc</li>
            <li style="font-size: 16px; line-height: 1.5; color: #4c4c4c; margin-bottom: 20px;">merge tags due to spelling errors or to group together similiar words / tags</li>
            <li style="font-size: 16px; line-height: 1.5; color: #4c4c4c; margin-bottom: 20px;">delete tags</li>
        </ul>
        <p style="font-size: 16px; line-height: 1.5; color: #4c4c4c; margin-bottom: 20px;">To get started simply expand the tag group(s) on the left and click on a tag to edit.</p>
        <p style="font-size: 16px; line-height: 1.5; color: #4c4c4c; margin-bottom: 20px;">I trust that you find the package helpful, and that it helps make your daily Umbraco interactions that little bit more enjoyable than they already are.</p>
        <p style="font-size: 16px; line-height: 1.5; color: #4c4c4c; margin-bottom: 20px;">Cheers from &quot;down under&quot; (New Zealand)</p>
    </div>

</div> 